body{
  background-color: #252B48;
}
.heading{
  background-color: #445069!important;
}
.container{
  display : flex;
  height : 100vh;
  flex-direction: column;
  align-items: center;
}
.mine-field{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
}
.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 50px;
    cursor: pointer;
    background-color: #5B9A8B;
    color: transparent; /* make the text invisible  */
    user-select: none; /* prevent selection of the text */
    border-radius: 10%;
    margin-bottom: 3px;

  }
  h1{
    color: antiquewhite;
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
  }
  h2{
    margin-right: auto;
    color: antiquewhite;
  }
  .pressed{
    background-color: whitesmoke ;
   /* color: gray; */
  }

  .flag{
    background-image: url("../images/flag.png");
    background-size: 50px 50px;
    background-color: #F7E987;
  }
  .mine-cell{
    color: transparent;
    background-color: red;
    background-image: url("../images/mine.png");
    background-size: 50px 50px;
    align-items: center;
  }
  .blue{
    color:blue;
  }
  .green{
    color:green;
  }
  .red{
    color:red;
  }
  .yellow{
    color:yellow;
  }
  .orange{
    color:orange;
  }
  .violet{
    color:violet;
  }
  .indigo{
    color:indigo;
  }
  .pink{
    color:pink;
  }
  .game-over{
    background-color: red;
  }