<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper</title>
    <!-- Stylesheet relative to public folder -->
    <link rel="stylesheet" href="style/styles.css"/>
</head>
<body>
    <h1>Minesweeper</h1>

    <% if (locals.res){ %>   <!--if result is available-->
        <% var res = JSON.parse (res) %>
        <h2><img src="images/mine.png"> : <span class = "totalMines"><%= res.mines %></span> </h2>  <!--Total number of mines -->
        
        <% console.log(res.board , res.mines) %>
                        
        <!-- Making minesweeper grid -->
        <!----------------------------->
        <% for (var i=0; i <res.height ; i++){ %>
            <% for (var j=0; j<res.width ; j++) {%>
                <div type ="button" class = "box" id =<%= i*10 + j %> oncontextmenu="event.preventDefault();" >
                    <%= res.board[i][j] %>
                </div>
            <% } %>
            <br>  <!-- Next row -->
        <% } %>
   <% } %>
   

    <!--      jquery          -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!--      Javascript      -->
    <!-------------------------->
    <script type="text/javascript" charset="utf-8">
        var totalMines = Number ($(".totalMines").html());  
        var colours =["blue","green","red","orange","violet","indigo","pink","yellow"];
        console.log(totalMines);
 
        // Function to change the style of the cell according to the content of the cell
        //-------------------------------------------------------------------------------
        function valueCheck(value, id){
            console.log(`Inside valueCheck ${value} , ${id}`);

            if (value == "o"){       // no mines nearby
                console.log(`Inside case ${value} , o`);
                $("#"+id).addClass("clear");
                return 0;
            }else if(value == "x"){  // mine
                console.log(`Inside case ${value} , x`);
                $("#"+id).addClass("mineCell");
                return 1;
            }else{   // any number
                let numColor = colours[Number(value)-1];
                console.log(`Inside number numColor : ${numColor} , id : ${Number(id)-1}`);
                $("#"+id).addClass("number");
                $("#"+id).addClass(numColor);
                

                return 0;
            }
        }
        
        // Eventhandler to capture the type of click in each box
        //------------------------------------------------------
        $(".box").on("mouseup",function(event){
            let value = this.innerHTML.trim();
            let id = this.id;
            
            console.log(`value : ${value} , button : ${event.button} , classList : ${this.classList}` );
            console.log(this.classList.contains("flag"));
            
            switch(event.button){
                case 0:
                    // display number only when the box is not flagged
                    if (!this.classList.contains("flag")){  
                        valueCheck(value ,id );    
                        $("#"+this.id).addClass("pressed");
                    }
                    break;
                case 2:
                    console.log("inside 2");
                    
                    if (this.classList.contains("flag")){      // if box is not already flagged add flag
                        $("#"+this.id).removeClass("flag");   
                        
                    }else if(!this.classList.contains("pressed")){
                        $("#"+this.id).addClass("flag");       // if the box is already flagged remove the flag
                       
                    }
                    break;
            }
        });
    </script>
</body>
</html>